services:
  app:
    build: .
    ports:
      - "8080:3000"
    volumes:
      - db_data:/app/prisma
      - uploads:/app/public/uploads
    env_file:
      - .env.production
    restart: unless-stopped

volumes:
  db_data:
  uploads:
