@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #f9fafb;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}

.dark body {
  background: #0f172a;
  color: #e2e8f0;
}
